/bootstrap/compiled.php
.env.*.php
.env.php
/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/storage/debugbar
/vendor
/temp
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/

updates/
composer.lock
*.lock
resources/lang/en.json
.env
updates.zip
ecommerce.zip
install.zip
/nbproject/private/
/nbproject
/public/app-translations
public/uploads.zip
