/*your custom css goes here*/

.form-password .password-icon {
    position: relative;
}

.form-password i {
    position: absolute;
    font-size: 18px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    opacity: 0.6;
}

.form-password .password_error{
    border: 1px solid #cc0000;
}
